In [311]:
import pandas as pd
import numpy as np

# Load all files
df_pop = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Population_2023.csv")
df_income = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/median_income.csv")
df_insurance = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Health_Insurance_Coverage_Total_Population_by_state.csv")
df_broadband = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/broadband_by_state.csv")
df_facilities = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Health_Center_Service_Delivery_and_LookAlike_Sites.csv")
df_travel = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/state_travel_time.csv")

/var/folders/vk/fzlwy9hj4ts96ppvlkx7lpmc0000gn/T/ipykernel_98360/230149653.py:8: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_broadband = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/broadband_by_state.csv")
/var/folders/vk/fzlwy9hj4ts96ppvlkx7lpmc0000gn/T/ipykernel_98360/230149653.py:9: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_facilities = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Health_Center_Service_Delivery_and_LookAlike_Sites.csv")

Working with Population dataset
* Keeping the 50 states and not including purto rico
* need to strip data from state column to remove trailing spaces

In [312]:
df_pop = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Population_2023.csv")

In [313]:
# state column has trailing space so renamed it and rest is clean
# state is a string and population is int so it is good
df_pop.columns = df_pop.columns.str.lower()
df_pop.rename(columns={'state ':'state'},inplace=True)

In [314]:
df_pop['state'] = df_pop['state'].str.strip()

Working with median income dataset
* Converted the column names to lower case
* The income is object -> converted to string
* Income is divided by 1000 to make the numbers small
* changing column name of location -> state

In [315]:
df_income = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/median_income.csv")

In [316]:
df_income.rename(columns={'Location':'location','Median Annual Household Income':'median_income($1k)'},inplace=True)

In [317]:
# median income is string, need to convert it to int and also remove the $
df_income['median_income($1k)'] = (
    df_income['median_income($1k)']
    .replace('[\$,]', '', regex=True)
    .astype(float)
    / 1000
)

In [318]:
df_income = df_income[(df_income['location'] != 'United States') & (df_income['location'] != 'Puerto Rico')]

In [319]:
df_income.rename(columns={'location':'state'},inplace=True)

In [320]:
df_income['state'] = df_income['state'].str.strip()

Working with insurance dataset:
* removing "united states" and purto rico rows
* creating new column by using ~uninsured to get the % of insured people
* keeping only relevant columns : Location and Insured

In [321]:
df_insurance.columns = df_insurance.columns.str.lower()
df_insurance

,location,employer,non-group,medicaid,medicare,military,uninsured,total
0,United States,0.486,0.062,0.212,0.147,0.013,0.079,1
1,Alabama,0.463,0.062,0.207,0.163,0.021,0.084,1
2,Alaska,0.438,0.054,0.230,0.115,0.059,0.105,1
3,Arizona,0.466,0.053,0.204,0.165,0.014,0.098,1
4,Arkansas,0.424,0.057,0.253,0.160,0.015,0.092,1
5,California,0.470,0.066,0.272,0.120,0.008,0.064,1
6,Colorado,0.522,0.068,0.187,0.136,0.020,0.067,1
7,Connecticut,0.513,0.050,0.227,0.148,0.006,0.056,1
8,Delaware,0.479,0.042,0.216,0.187,0.008,0.068,1
9,District of Columbia,0.589,0.043,0.252,0.080,0.008,0.027,1
10,Florida,0.405,0.111,0.177,0.181,0.019,0.107,1
11,Georgia,0.474,0.073,0.188,0.129,0.022,0.114,1
12,Hawaii,0.500,0.048,0.210,0.170,0.044,0.028,1
13,Idaho,0.484,0.069,0.183,0.158,0.015,0.090,1
14,Illinois,0.539,0.050,0.195,0.147,0.006,0.061,1
15,Indiana,0.519,0.048,0.208,0.150,0.008,0.068,1
16,Iowa,0.528,0.049,0.205,0.160,0.008,0.050,1
17,Kansas,0.535,0.064,0.144,0.155,0.018,0.084,1
18,Kentucky,0.461,0.035,0.279,0.156,0.013,0.056,1
19,Louisiana,0.409,0.045,0.322,0.142,0.012,0.070,1
20,Maine,0.464,0.062,0.214,0.188,0.012,0.061,1
21,Maryland,0.539,0.057,0.189,0.136,0.016,0.063,1
22,Massachusetts,0.546,0.053,0.236,0.135,0.004,0.026,1
23,Michigan,0.498,0.049,0.239,0.164,0.005,0.044,1
24,Minnesota,0.565,0.051,0.183,0.155,0.007,0.040,1
25,Mississippi,0.427,0.065,0.235,0.150,0.018,0.105,1
26,Missouri,0.513,0.053,0.177,0.169,0.014,0.075,1
27,Montana,0.419,0.078,0.216,0.181,0.021,0.085,1
28,Nebraska,0.530,0.075,0.169,0.148,0.015,0.063,1
29,Nevada,0.467,0.055,0.206,0.148,0.016,0.107,1
30,New Hampshire,0.554,0.069,0.134,0.189,0.008,0.046,1
31,New Jersey,0.540,0.057,0.187,0.141,0.003,0.072,1
32,New Mexico,0.346,0.042,0.343,0.163,0.017,0.090,1
33,New York,0.470,0.055,0.288,0.136,0.004,0.048,1
34,North Carolina,0.465,0.072,0.191,0.156,0.024,0.092,1
35,North Dakota,0.576,0.076,0.128,0.152,0.026,0.042,1
36,Ohio,0.510,0.044,0.214,0.163,0.008,0.061,1
37,Oklahoma,0.432,0.055,0.227,0.152,0.020,0.114,1
38,Oregon,0.482,0.055,0.238,0.163,0.008,0.054,1
39,Pennsylvania,0.503,0.053,0.214,0.170,0.006,0.054,1
40,Rhode Island,0.508,0.057,0.226,0.156,0.008,0.045,1
41,South Carolina,0.444,0.071,0.199,0.172,0.024,0.090,1
42,South Dakota,0.514,0.077,0.147,0.155,0.022,0.086,1
43,Tennessee,0.471,0.067,0.199,0.155,0.016,0.093,1
44,Texas,0.474,0.071,0.162,0.114,0.017,0.163,1
45,Utah,0.604,0.092,0.113,0.104,0.010,0.077,1
46,Vermont,0.488,0.060,0.225,0.189,0.004,0.034,1
47,Virginia,0.520,0.052,0.171,0.154,0.040,0.064,1
48,Washington,0.523,0.050,0.203,0.145,0.017,0.063,1
49,West Virginia,0.443,0.028,0.262,0.195,0.012,0.059,1
50,Wisconsin,0.540,0.054,0.182,0.166,0.008,0.049,1
51,Wyoming,0.478,0.078,0.146,0.177,0.016,0.105,1
52,Puerto Rico,0.232,0.087,0.471,0.153,0.005,0.053,1

In [322]:
df_insurance['insured'] = (1 - df_insurance['uninsured']) * 100
df_insurance = df_insurance[['location','insured']]

In [323]:
df_insurance = df_insurance[(df_insurance['location'] != 'United States')& (df_insurance['location'] != 'Puerto Rico')]

In [324]:
df_insurance.rename(columns={'location':'state'},inplace=True)

In [325]:
df_insurance['state'] = df_insurance['state'].str.strip()

Working on Broadband dataset:
* need just two columns: state and brodband%
* cleaning the "geography_desc" column using regex to extract state
* droppping rows where state could not be extracted
* feature engineering by grouping all the states and then finding average broadband%
* mapping the State Abbervation which was extracted to the state name

In [326]:
df_broadband = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/broadband_by_state.csv")
df_broadband

/var/folders/vk/fzlwy9hj4ts96ppvlkx7lpmc0000gn/T/ipykernel_98360/2507160966.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_broadband = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/broadband_by_state.csv")

,geography_type,geography_id,geography_desc,data_type,provider_id,res_st_pct,bus_iv_pct
0,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130228,0.5514,0.5514
1,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130403,0.5697,0.6291
2,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130405,0.0045,0.0045
3,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130627,0.9998,0.9998
4,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130673,0.8001,0.7891
...,...,...,...,...,...,...,...
498899,Tribal,9975R,Wassamasaw SDTSA,Fixed Broadband,430076,1.0000,1.0000
498900,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,130077,1.0000,0.8559
498901,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,130403,0.9972,0.3814
498902,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,131425,1.0000,0.7655
498903,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,460677,0.9746,0.8559

In [327]:
df_broadband['state_abbr'] = df_broadband['geography_desc'].str.extract(r',\s*([A-Z]{2})')
df_broadband

,geography_type,geography_id,geography_desc,data_type,provider_id,res_st_pct,bus_iv_pct,state_abbr
0,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130228,0.5514,0.5514,SD
1,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130403,0.5697,0.6291,SD
2,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130405,0.0045,0.0045,SD
3,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130627,0.9998,0.9998,SD
4,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130673,0.8001,0.7891,SD
...,...,...,...,...,...,...,...,...
498899,Tribal,9975R,Wassamasaw SDTSA,Fixed Broadband,430076,1.0000,1.0000,NaN
498900,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,130077,1.0000,0.8559,NaN
498901,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,130403,0.9972,0.3814,NaN
498902,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,131425,1.0000,0.7655,NaN
498903,Tribal,9975R,Wassamasaw SDTSA,Mobile Broadband,460677,0.9746,0.8559,NaN

In [328]:
df_broadband = df_broadband.dropna(subset=['state_abbr'])

In [329]:
df_broadband = df_broadband.groupby('state_abbr')['res_st_pct'].mean().reset_index().rename(columns={'state_abbr':'state','res_st_pct':'broadband'})

In [330]:
df_broadband = df_broadband[(df_broadband['state']!='PR')&(df_broadband['state']!='GU')&(df_broadband['state']!='MP')&(df_broadband['state']!='AS')&(df_broadband['state']!='VI')]

In [331]:
df_broadband.reset_index(drop=True)

   state  broadband
0     AK   0.753460
1     AL   0.653822
2     AR   0.673949
3     AZ   0.690787
4     CA   0.619892
5     CO   0.655108
6     CT   0.736873
7     DC   0.267852
8     DE   0.817147
9     FL   0.672296
10    GA   0.668556
11    HI   0.616931
12    IA   0.693264
13    ID   0.681316
14    IL   0.693454
15    IN   0.652201
16    KS   0.713300
17    KY   0.721113
18    LA   0.666024
19    MA   0.720907
20    MD   0.773853
21    ME   0.662418
22    MI   0.616954
23    MN   0.650594
24    MO   0.685039
25    MS   0.673381
26    MT   0.700541
27    NC   0.684952
28    ND   0.758623
29    NE   0.668684
30    NH   0.682802
31    NJ   0.812471
32    NM   0.726202
33    NV   0.644387
34    NY   0.754219
35    OH   0.668339
36    OK   0.678736
37    OR   0.677551
38    PA   0.738587
39    RI   0.779556
40    SC   0.732437
41    SD   0.731181
42    TN   0.686998
43    TX   0.664339
44    UT   0.686776
45    VA   0.716092
46    VT   0.705850
47    WA   0.664857
48    WI   0.712478
49    WV   0.657528
50    WY   0.735476

In [332]:
df_broadband['broadband'] = (df_broadband['broadband']*100).round(2)

In [333]:
us_state_abbrev = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut','DC':'District of Columbia' ,'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

df_broadband['state'] = df_broadband['state'].map(us_state_abbrev)

In [334]:
df_broadband['state'] = df_broadband['state'].str.strip()

In [335]:
df_broadband

                   state  broadband
0                 Alaska      75.35
1                Alabama      65.38
2               Arkansas      67.39
4                Arizona      69.08
5             California      61.99
6               Colorado      65.51
7            Connecticut      73.69
8   District of Columbia      26.79
9               Delaware      81.71
10               Florida      67.23
11               Georgia      66.86
13                Hawaii      61.69
14                  Iowa      69.33
15                 Idaho      68.13
16              Illinois      69.35
17               Indiana      65.22
18                Kansas      71.33
19              Kentucky      72.11
20             Louisiana      66.60
21         Massachusetts      72.09
22              Maryland      77.39
23                 Maine      66.24
24              Michigan      61.70
25             Minnesota      65.06
26              Missouri      68.50
28           Mississippi      67.34
29               Montana      70.05
30        North Carolina      68.50
31          North Dakota      75.86
32              Nebraska      66.87
33         New Hampshire      68.28
34            New Jersey      81.25
35            New Mexico      72.62
36                Nevada      64.44
37              New York      75.42
38                  Ohio      66.83
39              Oklahoma      67.87
40                Oregon      67.76
41          Pennsylvania      73.86
43          Rhode Island      77.96
44        South Carolina      73.24
45          South Dakota      73.12
46             Tennessee      68.70
47                 Texas      66.43
48                  Utah      68.68
49              Virginia      71.61
51               Vermont      70.59
52            Washington      66.49
53             Wisconsin      71.25
54         West Virginia      65.75
55               Wyoming      73.55

Working with Facilities dataset:
* filter and keep only column = Site State Abbreviation
* aggregate that column and count the number of occurances and put it in new column

In [336]:
df_facilities = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Health_Center_Service_Delivery_and_LookAlike_Sites.csv")

/var/folders/vk/fzlwy9hj4ts96ppvlkx7lpmc0000gn/T/ipykernel_98360/894847931.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_facilities = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/Health_Center_Service_Delivery_and_LookAlike_Sites.csv")

In [337]:
df_facilities = df_facilities[['Site State Abbreviation']]

In [338]:
#dropping nan values
df_facilities = df_facilities.dropna(subset=['Site State Abbreviation'])
df_facilities.rename(columns={'Site State Abbreviation':'state'},inplace=True)

In [339]:

df_facilities['state'] = df_facilities['state'].map(us_state_abbrev)

In [340]:
df_facilities = df_facilities.groupby('state').size().reset_index()

In [341]:
df_facilities.rename(columns={0:'facility_count'},inplace=True)

In [342]:
df_facilities['state'] = df_facilities['state'].str.strip()

Working with state travel time dataset:
* converting column names to lower case
* associating the state abbrevations to full name

In [343]:
df_travel = pd.read_csv("/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/raw/state_travel_time.csv")

In [344]:
df_travel.columns = df_travel.columns.str.lower()

In [345]:
df_travel['state'] = df_travel['state'].map(us_state_abbrev)

In [346]:
df_travel['state'] = df_travel['state'].str.strip()

Merging the clean dataset

In [347]:
df_final = df_pop.copy()

In [348]:
df_pop.columns

Index(['state', 'population_2023'], dtype='object')

In [349]:
# Start with population
df_final = df_pop.copy()

# Merge income
df_final = df_final.merge(df_income, on='state', how='left')

# Merge insurance
df_final = df_final.merge(df_insurance, on='state', how='left')

# Merge broadband (state in lowercase)
df_final = df_final.merge(df_broadband, on='state', how='left')

# Merge health facility count
df_final = df_final.merge(df_facilities, on='state', how='left')

df_final = df_final.merge(df_travel, on='state', how='left')

# Final check

In [350]:
df_final.to_csv('/Users/manika/Desktop/Python : Learning/healthcare-accessibility-index/data/clean/healthcare_accessibility_index.csv', index=False)

In [351]:
df_pop['state']

0               California
1                    Texas
2                  Florida
3                 New York
4             Pennsylvania
5                 Illinois
6                     Ohio
7                  Georgia
8           North Carolina
9                 Michigan
10              New Jersey
11                Virginia
12              Washington
13                 Arizona
14           Massachusetts
15               Tennessee
16                 Indiana
17                Missouri
18                Maryland
19               Wisconsin
20                Colorado
21               Minnesota
22          South Carolina
23                 Alabama
24               Louisiana
25                Kentucky
26                  Oregon
27                Oklahoma
28             Connecticut
29                    Iowa
30                    Utah
31                  Nevada
32                Arkansas
33             Mississippi
34                  Kansas
35              New Mexico
36                Nebraska
37           West Virginia
38                   Idaho
39                  Hawaii
40           New Hampshire
41                   Maine
42                 Montana
43            Rhode Island
44                Delaware
45            South Dakota
46            North Dakota
47                  Alaska
48                 Vermont
49                 Wyoming
50    District of Columbia
Name: state, dtype: object

In [352]:
df_broadband[df_broadband['state']=='District of Columbia']

                  state  broadband
8  District of Columbia      26.79

In [354]:
df_final

,state,population_2023,median_income($1k),insured,broadband,facility_count,avg_travel_time_min
0,California,39576757,95.521,93.6,61.99,2867,6.65
1,Texas,29994331,75.780,83.7,66.43,821,5.84
2,Florida,22377419,73.311,89.3,67.23,808,6.92
3,New York,19530351,82.095,95.2,75.42,882,5.52
4,Pennsylvania,12804123,73.824,94.6,73.86,479,7.79
5,Illinois,12585336,80.306,93.9,69.35,534,7.59
6,Ohio,11780017,67.769,93.9,66.83,599,8.45
7,Georgia,10942800,74.632,88.6,66.86,444,5.46
8,North Carolina,10701022,70.804,90.8,68.50,744,6.81
9,Michigan,10050811,69.183,95.6,61.70,478,6.79
10,New Jersey,9387600,99.781,92.8,81.25,175,6.21
11,Virginia,8927028,89.931,93.6,71.61,236,7.89
12,Washington,7831367,94.605,93.7,66.49,467,6.15
13,Arizona,7359192,77.315,90.2,69.08,302,7.96
14,Massachusetts,7094818,99.858,97.4,72.09,304,9.08
15,Tennessee,7091564,67.631,90.7,68.70,241,7.64
16,Indiana,6833037,69.477,93.2,65.22,465,6.81
17,Missouri,6169270,68.545,92.5,68.50,455,5.39
18,Maryland,6206806,98.678,93.7,77.39,166,6.89
19,Wisconsin,5935099,74.631,95.1,71.25,269,7.28
20,Colorado,5797082,92.911,93.3,65.51,304,6.26
21,Minnesota,5707390,85.086,96.0,65.06,94,9.26
22,South Carolina,5347600,67.804,91.0,73.24,342,4.63
23,Alabama,5074296,62.212,91.6,65.38,217,4.80
24,Louisiana,4627002,58.229,93.0,66.60,485,6.37
25,Kentucky,4570000,61.118,94.4,72.11,669,3.77
26,Oregon,4370000,80.160,94.6,67.76,328,6.41
27,Oklahoma,4020000,62.138,88.6,67.87,219,7.70
28,Connecticut,3605944,91.665,94.4,73.69,469,6.35
29,Iowa,3193079,71.433,95.0,69.33,130,6.95
30,Utah,3400000,93.421,92.3,68.68,66,8.21
31,Nevada,3210000,76.364,89.3,64.44,71,5.21
32,Arkansas,3045637,58.700,90.8,67.39,273,8.05
33,Mississippi,2949965,54.203,89.5,67.34,315,6.64
34,Kansas,2940000,70.333,91.6,71.33,187,5.71
35,New Mexico,2100000,62.268,91.0,72.62,256,5.80
36,Nebraska,1970000,74.590,93.7,66.87,95,5.48
37,West Virginia,1780000,55.948,94.1,65.75,515,8.43
38,Idaho,1820000,74.942,91.0,68.13,226,9.29
39,Hawaii,1440000,95.322,97.2,61.69,131,8.65
40,New Hampshire,1390000,96.838,95.4,68.28,85,6.94
41,Maine,1370000,73.733,93.9,66.24,200,3.90
42,Montana,1110000,70.804,91.5,70.05,153,5.99
43,Rhode Island,1090000,84.972,95.5,77.96,70,6.21
44,Delaware,1040000,81.361,93.2,81.71,15,6.00
45,South Dakota,923484,71.810,91.4,73.12,46,7.65
46,North Dakota,780000,76.525,95.8,75.86,34,4.21
47,Alaska,730000,86.631,89.5,75.35,229,60.00
48,Vermont,645000,81.211,96.6,70.59,101,12.53
49,Wyoming,578000,72.415,89.5,73.55,32,5.23
50,District of Columbia,712816,108.210,97.3,26.79,80,7.29